<html>
    <head>
        <meta chrset="utf-8">
    </head>
    <body>
        <h1>Listagem de livros </h1>
        <table>
        <thead>
            <th>ID</th>
            <th>Titulo</th>
        </thead>
        <tbody>
            <tr>
            <td>1</td>

            <td>Fundamentos do Node</td>
            </tr>
        </tbody>
        </table>
    </body>
</html>