<html>
    <head>
        <meta chrset="utf-8">
    </head>
    <body>
        <h1>Listagem de livros </h1>
        <table>
        <thead>
            <th>ID</th>
            <th>Titulo</th>
            <th>Preço</th>
            <th>Editar</th>
            <th>Remover</th>
        </thead>
        <tbody id='livros'>
            <tr for (livro in data.livros)>
            <td>${livro.id}</td>
            <td>${livro.titulo}</td>
            <td>${livro.preco}</td>
            <td><a href='#'>Editar</a></td>
            <td><a href='#'  data-ref="${livro.id}" data-type="remocao">Remover</a></td>

            </tr>
        </tbody>
        </table>
        <script src="/estatico/js/remove-livro.js"></script>
    </body>
</html>